@import url(../vendor/normalize.css);
/* @import url(../header/header.css);
@import url(../header/__title/header__title.css);
@import url(../dayview-board/dayview-board.css);
@import url(../historicview-board/historicview-board.css); */

@font-face {
  font-family: 'Crimson Pro';
  src: url("../vendor/fonts/crimson-pro-v21-latin-regular.woff") format("woff"),
  url("../vendor/fonts/crimson-pro-v21-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.page {
  margin: 0 auto;
  max-width: 1440px;
  font-family: 'Crimson Pro', sans-serif;
}

.main {
  width: 80%;
  margin: 0 auto;
  
}

.header {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-style: normal;
}

.header__title {
  font-size: 40px;
  font-weight: bold;
  color: #484848; 
}

.dayview-board {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
}

.historicview-board {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.options {
  margin: 40px 0 20px;
}

.ranges {
  margin: 0 0 20px;
}

.boards {
  margin: 40px 0 20px;
}

.boards__title {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  display: none;
}

.boards__title_visible {
  display: block;
}

.totalUsers {
  font-size: 30px;
  font-weight: normal;
}

.information {
  margin: 20px 0 20px;
}